<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.competition.system.mapper.SysCompetitionApplyMapper">

    <resultMap type="SysCompetitionApply" id="SysCompetitionApplyResult">
        <result property="id" column="id"/>
        <result property="competitionName" column="competition_name"/>
        <result property="enrollEndTime" column="enroll_end_time"/>
        <result property="competitionTime" column="competition_time"/>
        <result property="personnelLimit" column="personnel_limit"/>
        <result property="competitionType" column="competition_type"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="checkStatus" column="check_status"/>
    </resultMap>

    <resultMap type="SysCompetitionVo" id="SysCompetitionVoResult">
        <result property="id" column="id"/>
        <result property="competitionName" column="competition_name"/>
        <result property="contestants" column="contestants"/>
        <result property="questionAnswer" column="question_answer"/>
        <result property="questionName" column="question_name"/>
        <result property="score" column="score"/>
    </resultMap>

    <sql id="selectSysCompetitionApplyVo">
        select id,
               competition_name,
               check_status,
               enroll_end_time,
               competition_time,
               personnel_limit,
               competition_type,
               create_time,
               create_by,
               update_time,
               update_by
        from sys_competition_apply
    </sql>

    <select id="selectSysCompetitionApplyList" parameterType="SysCompetitionApply"
            resultMap="SysCompetitionApplyResult">
        <include refid="selectSysCompetitionApplyVo"/>
        <where>
            <if test="competitionName != null  and competitionName != ''">and competition_name like concat('%',
                #{competitionName}, '%')
            </if>
            <if test="enrollEndTime != null ">and enroll_end_time = #{enrollEndTime}</if>
            <if test="competitionTime != null ">and competition_time = #{competitionTime}</if>
            <if test="personnelLimit != null  and personnelLimit != ''">and personnel_limit = #{personnelLimit}</if>
            and competition_type !='3'
            and del = '0'
        </where>
    </select>

    <select id="selectSysCompetitionApplyById" parameterType="Long" resultMap="SysCompetitionApplyResult">
        <include refid="selectSysCompetitionApplyVo"/>
        where id = #{id}
    </select>
    <select id="selectuncheckList" parameterType="SysCompetitionApply" resultMap="SysCompetitionApplyResult">
        <include refid="selectSysCompetitionApplyVo"/>
        <where>
            <if test="competitionName != null  and competitionName != ''">and competition_name like concat('%',
                #{competitionName}, '%')
            </if>
            <if test="enrollEndTime != null ">and enroll_end_time = #{enrollEndTime}</if>
            <if test="competitionTime != null ">and competition_time = #{competitionTime}</if>
            <if test="personnelLimit != null  and personnelLimit != ''">and personnel_limit = #{personnelLimit}</if>
            and del = '0'
        </where>
    </select>
    <select id="getCompetitionList" parameterType="SysCompetitionApply" resultMap="SysCompetitionApplyResult">
        select id, competition_name
        from sys_competition_apply
        where check_status = '1'
          and competition_type = '1'
          and del = '0'
    </select>
    <select id="getCompetitionList1" parameterType="SysCompetitionApply" resultMap="SysCompetitionApplyResult">
        select id, competition_name
        from sys_competition_apply
        where check_status = '1'
          and competition_type = '2'
          and del = '0'
    </select>
    <select id="listCancel" parameterType="SysCompetitionApply" resultMap="SysCompetitionApplyResult">
        SELECT COUNT(competition_name) as competition_name,
               CASE
                   WHEN competition_type = '0'
                       then '作品类赛事'
                   WHEN competition_type = '1'
                       then '答题类赛事'
                   WHEN competition_type = '2'
                       then '进度类赛事'
                   WHEN competition_type = '3'
                       then '线下赛事'
                   end                 as competition_type
        FROM sys_competition_apply
        WHERE del = '1'
        GROUP BY competition_type
    </select>
    <select id="getWorkLists" parameterType="SysCompetitionApply" resultMap="SysCompetitionApplyResult">
        select id, competition_name
        from sys_competition_apply
        where check_status = '1'
          and competition_type = '0'
          and del = '0'
    </select>
    <select id="selectSysAnswerList" resultMap="SysCompetitionVoResult" >
        select apply.id as competitionId, apply.competition_name,question.question_answer,application.contestants,application.score,
               question.question_name
        from sys_competition_apply apply
                 join sys_competition_question question
                      on apply.id = question.competition_id
        join sys_competition_application  application
        on apply.competition_name = application.competition_name
        where apply.competition_type = '1'

    </select>

    <insert id="insertSysCompetitionApply" parameterType="SysCompetitionApply" useGeneratedKeys="true" keyProperty="id">
        insert into sys_competition_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="competitionName != null">competition_name,</if>
            <if test="enrollEndTime != null">enroll_end_time,</if>
            <if test="competitionTime != null">competition_time,</if>
            <if test="personnelLimit != null">personnel_limit,</if>
            <if test="competitionType != null">competition_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="checkStatus != null">check_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="competitionName != null">#{competitionName},</if>
            <if test="enrollEndTime != null">#{enrollEndTime},</if>
            <if test="competitionTime != null">#{competitionTime},</if>
            <if test="personnelLimit != null">#{personnelLimit},</if>
            <if test="competitionType != null">#{competitionType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="checkStatus != null">#{checkStatus},</if>
        </trim>
    </insert>

    <update id="updateSysCompetitionApply" parameterType="SysCompetitionApply">
        update sys_competition_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="competitionName != null">competition_name = #{competitionName},</if>
            <if test="enrollEndTime != null">enroll_end_time = #{enrollEndTime},</if>
            <if test="competitionTime != null">competition_time = #{competitionTime},</if>
            <if test="personnelLimit != null">personnel_limit = #{personnelLimit},</if>
            <if test="competitionType != null">competition_type = #{competitionType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="checkStatus != null">check_status = #{checkStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysCompetitionApplyById" parameterType="Long">
        update sys_competition_apply
        set del = '1'
        where id = #{id}
    </delete>

    <delete id="deleteSysCompetitionApplyByIds" parameterType="SysCompetitionApply">
        update sys_competition_apply set del = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>